# ==========================================
# 🐍 ARQUIVOS DO PYTHON
# ==========================================
__pycache__/
*.py[cod]
*$py.class
*.pyo

# ==========================================
# ⚙️ AMBIENTE E DEPENDÊNCIAS
# ==========================================
venv/
.env
.env.*
*.env
.Python
poetry.lock
Pipfile
Pipfile.lock
*.sqlite3

# ==========================================
# 🧮 ARQUIVOS TEMPORÁRIOS / BACKUPS
# ==========================================
*.bak
*.tmp
*.old
*.orig
*.swp
*.swo
*.save

# ==========================================
# 🧾 OUTROS
# ==========================================
coverage/
htmlcov/
.tox/
pytest_cache/
.cache/
__snapshots__/